{% extends 'base_layout.html' %}
{% load humanize %}


{% block content %}
    <div class="row">
        <div class="col">
            <form action="{% url 'fitness' %}" method="POST">
                {% csrf_token %}
                <div class="row w-auto">
                    <div class="col-1 p-1">
                        <label for="startDate">Start Date: </label>
                    </div>
                    <div class="col p-1">
                        <input id="startDate" name="startDate" width="250"/>  
                    </div>
                    <div class="col-1 p-1">
                        <label for="endDate">End Date: </label>        
                    </div>
                    <div class="col p-1">
                        <input id="endDate" name="endDate" width="250" />        
                    </div>
                    <div class="col-4 p-0">
                        <button type="submit" class="btn btn-sm" name="getData" value="1">Get Data</button>
                        <button type="submit" class="btn btn-sm" name="thirtyDays" value="1">30 Days</button>
                        <button type="submit" class="btn btn-sm" name="sixtyDays" value="1">60 Days</button>
                        <button type="submit" class="btn btn-sm" name="ninetyDays" value="1">90 Days</button>
                        
                    </div>
                </div>        
            </form>
        
        </div>
    </div> <!-- end row -->

        
    <script>
        $('#startDate').datepicker({ format: 'ddd mmm d, yyyy'});
        $('#endDate').datepicker({ format: 'ddd mmm d, yyyy'});
    </script>
        {% for e in error|default:"" %}
            <div class="row m-2">
                <p class="rounded danger-color-dark white-text p-2">{{ e }}</p>
            </div>
        {% endfor %}
        
    
    <div class="row">
        <div class="col-6">
            <table class="table table-striped w-100">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Date</th>
                        <th scope="col">Steps</th>
                    </tr>
                </thead>
                <tbody>
                    {% for d, s in zipped_data %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ d }}</td>
                            <td>{{ s|intcomma }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col">
            <table class="table w-auto">
                <thead>
                    <tr>
                        <th scope="col">Total Days</th>
                        <th scope="col">Total Steps</th>
                        <th scope="col">Average Steps</th>
                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <th scope="row">{{ d_count }}</th>
                            <td>{{ total_count|intcomma }}</td>
                            <td>
                                {% with avg=average|floatformat:3 %}
                                {{ avg|intcomma }}
                                {% endwith %}
                            </td>
                            
                        </tr>
                </tbody>
            </table>
        </div>
    </div>



{% endblock content %}


{% block extraScripts %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />

{% endblock extraScripts %}

